/* **************** general css *************** */
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
a {
  color: rgb(160, 8, 96);
  text-decoration: none;
}

form {
  text-align: center;
  background-color: rgba(121, 129, 126, 0.24);
  border: 2px solid black;
}
form ul {
  list-style: none;
  text-align: center;
}
form ul li {
  padding: 10px;
  display: flex;
  gap: 30px;
}
form ul input{
  width: 60%;
  border: none;
  outline: none;
  padding: 8px;
}
form div {
  padding: 0 0 40px 0;
}
form div input {
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

/* ****************  main css *************** */
nav {
  color: white;
}
/* ******contact page****** */
#contact form input {
  width: 100%;
} 
#form-contact {
  height: 70vh;
}
#form-contact input, #form-contact textarea{
  outline: 0;
  width: 70%;
  background-color: inherit;
}
#table-cart {
  width: 85%;
  height: 70vh;
}
/********* list.php **********/
table {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
#list-form {
  max-width: 85%;
  margin-bottom: 40px;
}
table,
tr,
td {
  border: 2px solid rgb(5, 5, 5);
  background-color: darkseagreen;
  padding: 10px;
}
.green {
  color: green;
}

.blue {
  color: blue;
}

.card-img-top {
  aspect-ratio: 1/1;
  object-fit: cover;
}
#imgs h4 {
  color: blue;
}
article img {
  height: 200px;
}
/* ****** #login-form ******* */
#login-form {
  height: 70vh;
}
/******* footer *********/
footer {
  background-color: rgb(12, 8, 27);
  color: white;
  text-align: center;
  height: 100px;
  margin-top: 20px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
/* ************* responsive***************** */
@media only screen and (max-width: 600px) {
    section {
        display: block;
      }
    article img {
      background-color: lightblue;

    }
  }

